{% extends 'base.html' %}

{% block content %}

<center>
    <h1>Welcome to Spokes!</h1>

    <p>The Affordable Road Cycling Store</p>    

    <img src="/static/images/Spokes_logo.png" alt="image failed to load" width="90%" height="90%"> 
    <br></br>
    <form action="/items">
        <button type="submit">View Current Items</button>    
    </form>
</center>
<br>
<center><strong>Supported Stores:</strong></center>
<center><img src="/static/images/partner1.jpg" width="800" height="800"><img src="/static/images/partner2.jpg" width="800" height="800"></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}